Source: hpuefi-mod
Section: kernel
Priority: optional
Maintainer: junglezoo42 <junglezoo42@mail.de>
Build-Depends: debhelper (>= 13), dkms
Standards-Version: 4.6.0
Homepage: https://ftp.ext.hp.com/pub/caps-softpaq/cmit/linuxtools/HP_LinuxTools.html
Testsuite: autopkgtest-pkg-dkms
Rules-Requires-Root: no

Package: hpuefi-dkms
Architecture: all
Depends: ${misc:Depends}
Description: HP Flash and Replicated Setup Utilities for Linux
 Free set of utilities which provide the ability to manage BIOS
 settings and update BIOS firmware on HP supported desktop,
 workstation and notebook computers.
